@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif
}

html,
body {
    height: 100%
}

body {
    display: grid;
    place-items: center;
    background: #ecf0f3
}

.card {
    color: #000;
    width: 370px;
    margin: 3%;
    border-radius: 10px;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px #ffffff;
    border: none
}

.card-content {
    color: #000;
    text-align: justify;
    width: 80%;
    margin: 3%;
    border-radius: 10px;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px #ffffff;
    border: none
}

.social-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #000;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
    background: linear-gradient(145deg, #ffffff, #ececec);
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #ffffff;
}

.num {
    color: #eee !important
}

.line {
    color: #000
}

.line-content {
    color: #000;
    margin-bottom: 3%;
}

.social-button:hover{
	background: radial-gradient(circle,  #0ff 0%, #e0e5ec 60%);
	color: black; 
	animation: colorchange 3s linear infinite;
}

.social-button:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

.fa-facebook {
    color: #3b5998
}

.fa-telegram {
    color: #0077b5
}

.fa-instagram {
    color: #dc4e41
}

.fa-rss  {
    color: #cd201f
}

.fa-youtube-play  {
    color: #cd201f
}

.button {
    color: #000;
    font-size: 15px;
    padding: 10px;
    border: none;
    outline: 0 !important;
    border-radius: 10px;
    background: #ecf0f3;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #ffffff;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
}
.button-content{
    width: 10rem;
}
.button:hover{
	background: radial-gradient(circle,  #0ff 0%, #e0e5ec 60%);
	color: black; 
	animation: colorchange 3s linear infinite;
}
.button:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

a:hover{
	text-shadow: 4px 4px rgba(255,255,255,0.3);
}

@keyframes colorchange {
	to {filter: hue-rotate(360deg);}
}

<!-- modal --->
.modal-dialog{ transform: scale(0.5); height: 90%;}
.modal-dialog{ transform: scale(1); }
.modal-dialog .modal-content{
    background: #ecf0f3;
    color: #000000;
    text-align: justify;
    border: none;
    border-radius: 10px;
    box-shadow: 6px 6px 3px #666666, -6px -6px 3px #666666;
}
.modal-dialog .modal-header .btn-close{
    color: #e7e7e7;
    right: 15px;
    top: 15px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.modal-dialog .modal-content .modal-title{
    font-weight: 600;
    text-transform: uppercase;
}
.modal-dialog .modal-content .modal-body{
    padding: 2%;
}
.modal-dialog .modal-content .modal-body p{
    letter-spacing: 1px;
    padding: 0 auto 25px;
}
.modal-footer .btn{
    color: #000;
    font-size: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    width: auto;
    outline: 0 !important;
    border-radius: 10px;
    background: #ecf0f3;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #ffffff;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
}
.modal-footer .btn:hover{
	background: radial-gradient(circle,  #0ff 0%, #e0e5ec 60%);
	animation: colorchange 3s linear infinite;
}
.modal-footer .btn:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}
.modal-footer .btn:focus{ outline: none; }
@media only screen and (max-width: 480px){
    .modal-dialog{ width: 95% !important; }
}

.list-group{
	border: none;
	border-radius: 1rem;
    background: #ecf0f3;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #ffffff;
}
.list-group .list-group-item{
    background: #ecf0f3;
	margin: auto;
    font-weight: 600;
    color: #000;
	border: none;
}
.list-group .list-group-item:hover{
	background: radial-gradient(circle,  #0ff 0%, #e0e5ec 60%);
	animation: colorchange 3s linear infinite;
}
.list-group .list-group-item.active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}
.tab-pane{
    text-align: justify;
    color: #495057;
}

@media only screen and (max-width: 479px){
    .responsive-tabs .nav-tabs{
        display: block;
        float: left;
        width: 25%;
		border-radius: 1rem;
        display: block;
    }
    .responsive-tabs .tab-content{
        font-size: 14px;
        display: block; 
    }
}

.serviceBox{
    font-family: 'Poppins', sans-serif;
    padding: 25px;
    margin: 5px 0 0 5px;
    border-radius: 10px;
    background: #ecf0f3;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #ffffff;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover{ background: #FB374D; }
.serviceBox .service-icon{
    color: #000000;
    font-size: 55px;
    margin: 0 0 20px;
    transition: all 0.3s ease 0s;
}
.serviceBox .title{
    color: #444;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 27px;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;
}
.serviceBox .description{
    color: #999;
    font-size: 14px;
    line-height: 27px;
    margin: 0 0 15px;
    height: 150px;
    transition: all 0.3s ease 0s;
}

.serviceBox .price-desain-description{
    color: #999;
    margin: 0 0 15px;
    transition: all 0.3s ease 0s;
}

.serviceBox .read-more{
    color: #444;
    font-size: 15px;
    transition: all 0.3s ease 0s;
}
.serviceBox .read-more:hover{ text-shadow: 4px 4px rgba(255,255,255,0.3); }
.serviceBox:hover{
	background: radial-gradient(circle,  #0ff 0%, #e0e5ec 60%);
	background: #2D98DA;
	animation: colorchange 3s linear infinite; }
.serviceBox:hover .service-icon,
.serviceBox:hover .title,
.serviceBox:hover .read-more{
    color: #fff;
}
.serviceBox:hover .description{ color: rgba(255,255,255,0.8); }

.serviceBox:hover .price-desain-description{ color: rgba(255,255,255,0.8); }
@media only screen and (max-width: 990px){
    .serviceBox{ margin: 0 0 30px; }
}

.toolTip:focus{
    color: #fff;
    background: #444;
    outline: none;
}
.toolTip:before ,
.toolTip:after{
    content: attr(data-tip);
    color: #000;
    background: #fff;
    font-size: 13px;
    font-weight: 500;
    width: 110px; 
    padding: 5px 10px;
    white-space: normal;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 10px 0 #ccc;
    border-radius: 5px;
}
.toolTip:after{
    content: '';
    background: linear-gradient(to right bottom,transparent 50%, #fff 50%);
    height: 10px;
    width: 10px;
    padding: 0;
}
.toolTip:hover:before,
.toolTip:hover:after{
    opacity: 1;
    visibility: visible;
}
.toolTip.top:before,
.toolTip.top:after{
    border-bottom: 3px solid #fff;
    transform: translateX(-50%) rotateY(90deg);
    position: absolute;
    left: 50%;
    bottom: 140%;
}
.toolTip.top:after{
    border: none;
    transform: translateX(-50%) rotate(45deg) rotateY(90deg);
    bottom: 130%;
}
.toolTip.top:hover:before{ transform: translateX(-50%) rotateY(0); }
.toolTip.top:hover:after{ transform: translateX(-50%) rotate(45deg) rotateY(0); }
.toolTip.left:before,
.toolTip.left:after{
    border-right: 3px solid #fff;
    transform: translateY(-50%) rotateX(90deg);
    position: absolute;
    top: 50%;
    right: 120%;
}
.toolTip.left:after{
    border: none;
    transform: translateY(-50%) rotate(-45deg) rotateX(90deg);
    right: 115%;
}
.toolTip.left:hover:before{ transform: translateY(-50%) rotateX(0); }
.toolTip.left:hover:after{ transform: translateY(-50%) rotate(-45deg) rotateX(0); }
.toolTip.right:before,
.toolTip.right:after{
    border-left: 3px solid #fff;
    transform: translateY(-50%) rotateX(90deg);
    position: absolute;
    top: 50%;
a:hover{
	text-shadow: 4px 4px rgba(255,255,255,0.3);
}

@keyframes colorchange {
	to {filter: hue-rotate(360deg);}
}

    left: 120%;
}
.toolTip.right:after{
    border: none;
    transform: translateY(-50%) rotate(135deg) rotateX(90deg);
    left: 115%;
}
.toolTip.right:hover:before{ transform: translateY(-50%) rotateX(0); }
.toolTip.right:hover:after{ transform: translateY(-50%) rotate(135deg) rotateX(0); }
.toolTip.bottom:before,
.toolTip.bottom:after{
    border-top: 3px solid #fff;
    transform: translateX(-50%) rotateY(90deg);
    position: absolute;
    left: 50%;
    top: 140%;
}
.toolTip.bottom:after{
    border: none;
    transform: translateX(-50%) rotate(-135deg) rotateY(90deg);
    top: 130%;
}
.toolTip.bottom:hover:before{ transform: translateX(-50%) rotateY(0); }
.toolTip.bottom:hover:after{ transform: translateX(-50%) rotate(-135deg) rotateY(0); }
@media only screen and (max-width: 767px){
    .toolTip{ margin: 0 0 20px; }
}

.portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  padding: 3px;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 5px 0 0 5px;
  background: #ecf0f3;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #ffffff;
}

.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}

.portfolio-modal-description{
	text-align: left;
    line-height: 27px;
    margin: 0 0 15px;
    height: 180px;
    transition: all 0.3s ease 0s;
    padding: 25px;
    margin: 5px 0 0 5px;
    border-radius: 10px;
    background: #ecf0f3;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #ffffff;
}

.portfolio-modal-description p{
    color: #999;
}

.portfolio-modal-description p a{
    color: #999;
}

@media (min-width: 992px) {
  .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.accordion{
    color: #000;
    outline: 0 !important;

}

.accordion .accordion-collapse{
    background: #ecf0f3;
}
.accordion-button {
    color: #000;
    outline: 0 !important;
    background: #ecf0f3;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
}
.accordion-item .accordion-button:hover{
	background: radial-gradient(circle,  #0ff 0%, #e0e5ec 60%);
	color: black; 
	animation: colorchange 3s linear infinite;
}
.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #ecf0f3;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
	box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
				-4px -4px 6px 0 rgba(116, 125, 136, .2), 
				inset -4px -4px 6px 0 rgba(255,255,255,.5),
				inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}
